<launch>

  <!-- Start gazebo simulation -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />

  <!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find racecar_description)/urdf/racecar.xacro'" />

  <!-- publish robot tf tree -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <remap from="/joint_states" to="/racecar/joint_states"/>
  </node>

  <!-- Spawn the robot in gazebo -->
  <node name="racecar_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model racecar -z 0.05 -y 2" />

  <!-- Start robot contorllers -->
  <include file="$(find racecar_description)/launch/racecar_control.launch"/>

  <!-- visualize robot using rviz -->
  <node name="rviz" type="rviz" pkg="rviz" args="-d $(find racecar_description)/rviz_config/racecar_sim.rviz" />

</launch>
