<launch>

  <!-- load ros_control configurations -->
  <rosparam file="$(find racecar_description)/config/racecar_control.yaml" command="load"/>

  <!-- Start the controllers -->
  <node name="controller_manager" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/racecar"
    args="left_rear_wheel_velocity_controller right_rear_wheel_velocity_controller left_front_wheel_velocity_controller
    right_front_wheel_velocity_controller left_steering_hinge_position_controller
    right_steering_hinge_position_controller joint_state_controller"/>

  <!-- Start the software ackermann to joint_command controller -->
  <node name="ackermann_controller" type="ackermann_controller.py" pkg="racecar_description" />

</launch>
