[submodule "jetsoncar_ws/src/realsense2_description"]
	path = jetsoncar_ws/src/realsense2_description
	url = https://github.com/Michael-Equi/realsense2_description.git
[submodule "jetsoncar_ws/src/drivers/jetson-hal"]
	path = jetsoncar_ws/src/drivers/jetson-hal
	url = https://github.com/ARCC-RACE/jetson-hal.git
[submodule "jetsoncar_ws/src/drivers/jetson-rosey"]
	path = jetsoncar_ws/src/drivers/jetson-rosey
	url = https://github.com/ARCC-RACE/jetson-rosey.git
[submodule "jetsoncar_ros2_ws/src/ros2_intel_realsense"]
	path = jetsoncar_ros2_ws/src/ros2_intel_realsense
	url = https://github.com/intel/ros2_intel_realsense.git
[submodule "carla_ws/src/ros-bridge"]
	path = carla_ws/src/ros-bridge
	url = https://github.com/carla-simulator/ros-bridge.git
