[submodule "jetsoncar_ws/src/racecar_worlds"]
	path = jetsoncar_ws/src/racecar_worlds
	url = http://github.com/JHS-ARCC-Club/racecar_worlds
[submodule "jetsoncar_ws/src/realsense2_description"]
	path = jetsoncar_ws/src/realsense2_description
	url = https://github.com/Michael-Equi/realsense2_description.git
[submodule "jetsoncar_ws/src/drivers/jetson-hal"]
	path = jetsoncar_ws/src/drivers/jetson-hal
	url = https://github.com/ARCC-RACE/jetson-hal.git
[submodule "jetsoncar_ws/src/drivers/jetson-rosey"]
	path = jetsoncar_ws/src/drivers/jetson-rosey
	url = https://github.com/ARCC-RACE/jetson-rosey.git
