<?xml version='1.0'?>
<model>
  <name>DuckyTown Robot description</name>
  <description>
    This is not a significant source of model, but the package contains model resources.
  </description>
  <version>0.0.1</version>
  <sdf>dummy.urdf</sdf>
  <author>
    <name>Jose Capriles</name>
    <email>jcapriles@theconstructsim.com</email>
  </author>
</model>
