<launch>

  <!-- rosey the driver (with smaller input image) -->
  <node name="rosey" pkg="rosey2" type="rosey_drive.py" respawn="true" respawn_delay="60">
    <param name="speed" value="2"/>
    <param name="use_cruise_velocity" value="True"/>
    <param name="kernel_multiplier" value="1"/>
  </node>

  </group>
</launch>
