<launch>

  <!-- start all the hardware interface and contorller components -->
  <include file="$(find temp_racecar_hardware_interface)/launch/temp_hardware_control.launch"/>

  <!-- BNO055 IMU -->
  <node name="imu" pkg="bno055" type="bno055_ros.py" respawn="true" respawn_delay="30"/>

  <!-- Data Collector -->
  <node name="racecar_data_collector" pkg="nn_tools" type="racecarDataCollector.py" respawn="true" respawn_delay="45">
    <param name="include_imu" value="True"/>
    <param name="include_depth" value="True"/>
    <param name="collection_fps" value="15"/>
  </node>

  <!-- rosey the driver (with smaller FOV) -->
  <node name="rosey" pkg="rosey2" type="rosey_drive.py" respawn="true" respawn_delay="60">
    <param name="speed" value="2"/>
  </node>

  <!-- Realsense D435 launch -->
  <arg name="serial_no"    default=""/>
  <arg name="json_file_path"  default=""/>

  <group ns="front_cam">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"         value="$(arg serial_no)"/>
      <arg name="json_file_path"    value="$(arg json_file_path)"/>
      <arg name="depth_width"       value="848"/>
      <arg name="depth_height"      value="480"/>
      <arg name="depth_fps"         value="30"/>
      <arg name="color_width"       value="848"/>
      <arg name="color_height"      value="480"/>
      <arg name="color_fps"         value="30"/>
      <arg name="enable_depth"      value="true"/>
      <arg name="enable_color"      value="true"/>
      <arg name="enable_infra1"     value="false"/>
      <arg name="enable_infra2"     value="false"/>
      <arg name="enable_fisheye"    value="false"/>
      <arg name="enable_imu"        value="false"/>
      <arg name="enable_pointcloud" value="false"/>
      <arg name="enable_sync"       value="true"/>
      <arg name="align_depth"       value="true"/>
    </include>

    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find realsense2_camera)/rviz/pointcloud.rviz" required="true" /> -->
  </group>
</launch>
