<launch>

  <arg name="veh" default="robot1"/>
  <arg name="x" default="-3.28" />
  <arg name="y" default="3.24" />
  <arg name="local" default="true" />
 

  <!-- Spawning a duckibot at the coordinates indicated-->
  <include file="$(find duckietown_gazebo)/launch/include/duckietown.launch.xml" >
  	<arg name="robot_name" value="$(arg veh)"/>
    <arg name="x" value="$(arg x)" />
    <arg name="y" value="$(arg y)" />
  </include>
  
  <!-- launch the fake_navigation -->
  <!--include file="$(find fake_navigation)/launch/start.launch" >
  	<arg name="robot_name" value="$(arg veh)"/>
  </include-->

</launch>
